<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PEG Grammar File Editor"
            extensions="peg"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="tk.programmerjake.peg_parser_generator.eclipse.editors.PEGEditor"
            id="tk.programmerjake.peg_parser_generator.eclipse.editors.PEGEditor">
      </editor>
   </extension>

</plugin>
